version: '3.8'
services:
  backend:
    build: ./backend
    environment:
      VITE_GO_PRO: "false"
      XSLT_TRACE_DEBUG: "true"
    ports:
      - "8000:8000"
  frontend:
    build:
      context: ./frontend
    environment:
      VITE_BACKEND_URL: http://localhost:8000
    ports:
      - "3000:80"
    depends_on:
      - backend
